.container{

    height: 70vh;
}
.logo
{
  width: 20%;
}
.title
{
  font-size: 2rem;
  text-transform: capitalize;
}
.card{
    margin-bottom: 20px;
    color: white;
    background-color: #4883a3;;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-head
{
  font-weight: bold !important;
  font-size: 1rem;
}
.admin-card{
    padding-right: 5px;
}
h3{

    font-size:12px;
    color: white;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
mat-icon, fa-icon{
    font-size: 42px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    height: 50px;
    width: 55px;
}


/* table css */
table {
  width: 100%;
  }

  .table-row{
    margin-top: 150px;
  }

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
