<div class="companylogo container mx-5 mt-1"><img class="w-100" [src]="logoSrc"></div>    
<div class=" form-container">
        <form>
            <h1 class="text-light text-center mt-5 fs-2">Edit Holidays</h1>
            <div class="row mx-auto justify-content-center my-5">
                <div class="form-group  col-md-8">
                    <label for="fullname" class="text-light">Name</label>
                    <input type="text" class="form-control" id="fullname"  placeholder="Enter Holiday Name">
                </div>
            </div>
    
            <div class="row mx-auto justify-content-center my-5">
                <div class="form-group  col-md-8">
                    <label for="email" class="text-light">Date</label>
                    <input type="Date" class="form-control" id="email" placeholder="Enter Holiday Date">
                </div>
            </div>
           
           <div class="row" [style.margin-left]="'220px'"><button type="submit" class="mx-5 w-50 btn">save</button></div>
         
        </form>
    </div>