.col-8, .card{
    background-color: transparent;
    border: none;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
}
form{
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #28688B;
}

 h1{
    margin-top: 10px;
    margin-bottom: 85px;
}


.logo
{
    margin-left: 200px;
    height: 100px;
    width: 200px;
}
.btn-back{
    border: 1px solid #FFF;
    font-size: 18px;
    width: 85px;
    height: 40px; 
  background-color:transparent;
    border-radius: 10px;
    border-color: #28688B;
    color: black;
    transition: all 0.2s ease-in-out;
}
.btn-back:hover{
        border: none;
}


label{
    font-size: 24px;
    padding-bottom: 12px;

}
input, select, button{
    height: 40px;
}

button{
    padding-bottom: 35px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-color: white;
}
