<p>general-settings works!</p>
<img src="logo.jpg" alt="Logo">
<div class="form-container text-center">

    <h2 >General Settings</h2>

    <div class="form-group m-2">
      <label for="addons">Add-ons</label>
      <input type="number" id="addons" class="form-control">
    </div>

    <div class="form-group m-2">
      <label for="discounts">Discounts</label>
      <input type="number" id="discounts" class="form-control">
    </div>

    <div class="form-group m-2">
      <label for="holiday1">Official holiday 1</label>
      <select id="holiday1" class="form-control">
        <option value="" disabled selected>Select Holiday Option</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
        <option value="type3">Type 3</option>
        <option value="type4">Type 4</option>
      </select>
    </div>

    <div class="form-group m-2">
      <label for="holiday2">Official holiday 2</label>
      <select id="holiday2" class="form-control">
        <option value="" disabled selected>Select Holiday Option</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
        <option value="type3">Type 3</option>
        <option value="type4">Type 4</option>
      </select>
    </div>

    <div class="form-group m-3">
      <button type="button" class="btn">Save</button>
      <button type="button" class="btn">Update</button>
    </div>
  </div>
