
.form-container{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 900px;
    padding-top: -50px;
}
form{
    
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #28688B;    
}
h1{
    margin-top: 10px;
    margin-bottom: 120px;
}
.companylogo{
    margin-left: 200px;
    height: 100px;
    width: 200px;
}

label{
    font-size: 20px;
    padding-bottom: 12px;
 
}
input, select, button{
    height: 40px;
}
button{
    font-size: 20px;
    font-weight: 400;
    color: white;
    border-color: white;
  
}