<div class="companylogo container mx-5 pt-2"><img class="w-100" [src]="logoSrc"></div>
<div class=" form-container">
    <form>
        <h1 class="text-light text-center fs-2">New Employee</h1>
        <div class="row m-5">
            <div class="form-group col-md-6">
          <label for="name" class="text-light">Name</label>
          <input type="text" class="form-control" id="name"  placeholder="name ...">
        </div>
        <div class="form-group col-md-6">
          <label for="birthdate" class="text-light">Birth Date</label>
          <input type="birthdate" class="form-control" id="birthdate" placeholder="...">
        </div>
    </div>
        <div class="row m-5 ">
            <div class="form-group col-md-6">
          <label for="address" class="text-light">address</label>
          <input type="text" class="form-control" id="address" placeholder="...">
        </div>
        <div class="form-group col-md-6">
          <label for="nationalId" class="text-light">national ID</label>
          <input type="text" class="form-control" id="nationalId" placeholder="....">
        </div>
    </div>
    <div class="row m-5 ">
        <div class="form-group col-md-6">
            <label for="phone" class="text-light">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="....">
          </div>
          <div class="form-group col-md-6">
            <label for="contractDate" class="text-light">Contract Date</label>
            <input type="date" class="form-control" id="contractDate" placeholder="....">
          </div>
    </div>
    <div class="row m-5">
        <div class="form-group col-md-6">
            <label for="gender" class="text-light ">Gender</label>
            <select type="text" class="form-control" id="phone">
                <option value="">select gender...</option>
                <option value="male">male</option>
                <option value="female">female</option>
            </select> 
          </div>
          <div class="form-group col-md-6">
            <label for="salary" class="text-light">Salary</label>
            <input type="text" class="form-control" id="salary" placeholder="....">
          </div>
    </div>

    <div class="row m-5 ">
        <div class="form-group col-md-6">
            <label for="nationality" class="text-light">Nationality</label>
            <input type="text" class="form-control" id="nationality" placeholder="....">
          </div>
          <div class="form-group col-md-3">
            <label for="attendance" class="text-light">attendance</label>
            <input type="time" class="form-control" id="contractDate" placeholder="....">
          </div>
          <div class="form-group col-md-3">
            <label for="departure" class="text-light">departure</label>
            <input type="time" class="form-control" id="departure" placeholder="....">
          </div>
    </div>
    
       
       <div class="row" [style.margin-left]="'220px'"><button type="submit" class="mx-5 w-50 btn">save</button></div>
     
      </form>
</div>
