
<mat-toolbar class=" mat-toolbar mat-elevation-z3"  *ngIf="!isLogin()">
  <button mat-icon-button class="menu-btn" (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon></button>
  <span class="ms-auto mat-toolbar-spacer"></span>
 <a class="nav-a col-md-1 me-5 "

 [routerLink]="['']" 
 routerLinkActive="''" 
 >
  <span class="user me-3"> User1 </span>
  <button class="login-btn">Logout</button></a>



</mat-toolbar>

<mat-sidenav-container class="">
  <mat-sidenav opened mode="side" [style.width]="sideNavWidth()" *ngIf="!isLogin()">
    <app-sidebar [collapsed]="collapsed()"></app-sidebar>
  </mat-sidenav> 

  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>


