
mat-toolbar{
    background-color: #28688B;
}
.menu-btn{
   
    color:white;
    border: none;
    background-color: transparent;
    transition:  0.5 ease-in;
}

.menu-btn:hover{
    color: whitesmoke;
 
}

mat-sidenav{
    margin-right: 20px;
}
mat-sidenav-container{
    height: calc(100vh - 64px);
    
}
mat-toolbar{
    position: relative;
    z-index: 5;
}
.content{
    padding: 24px;
}