
mat-toolbar{
    background-color: #28688B;
    position: relative;
    z-index: 5;
}
.menu-btn{
   
  display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;

}
mat-icon{
    margin-top: 5px;
    font-size: 30px;
   width: 50px;
   height: 40px;  
   color:white;
}

mat-sidenav{
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
mat-sidenav-container{
    font-family: 'Open Sans',sans-serif;
    height: calc(100vh - 64px);
    
}

.content{
    padding: 16px;
}
mat-sidenav, mat-sidenav-content{
    transition: all 500ms ease-in-out;
}
.login-btn{
    border: 1px solid #FFF;
    font-size: 18px;
    width: 85px;
    height: 40px; 
  
    border-radius: 10px;
    color: #FFF;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
   

}
.login-btn:hover{
    border: none;
    color: black;

}
.user{
    color: #fff;
}