<div class="container h-100 d-flex align-items-center">
  <div class="card mb-3 w-100">
    <div class="row g-0">
      <div class="col-md-6 d-flex justify-content-center align-items-center left-side">
        <div class="logo d-flex justify-content-center align-items-center w-50">
          <img src="logo.logo-removebg-preview.png" class="img-fluid rounded-start">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body pt-5 pb-5">
            <form method="" action="" class="ps-4 pe-4" [formGroup]="loginForm" (submit)="sendData()">
              <div class="mb-3 pt-5 pb-3">
                <label for="user" class="form-label mb-0">User</label>
                <input type="text" class="form-control" id="user" name="user" placeholder="Please Enter Your User Name" formControlName="user">
                <div [hidden]="user?.valid || user?.untouched">
                  <small *ngIf="user?.errors?.['required']" class="text-danger">* This Field is Required</small>
                </div>
                <div *ngIf="user?.valid" class="text-success">
                    <i class="fa-regular fa-circle-check"></i> Looks Good
                </div>
              </div>
              <div class="mb-3 pb-3">
                <label for="password" class="form-label mb-0">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Please Enter Your Password" formControlName="password">
                <div *ngIf="password?.touched && password?.invalid">
                  <small *ngIf="password?.errors?.['required']" class="text-danger">* This Field is Required</small>
                </div>
                <div *ngIf="password?.valid" class="text-success">
                  <i class="fa-regular fa-circle-check"></i> Looks Good
                </div>
              </div>
              <button type="submit" class="btn w-50 m-auto d-block text-white" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
