
.logo
{
  width: 20%;
}
.stroke
{
  border: 2px solid #296889;
  font-size: 13px;
}
table tr th
{
  background-color: #296889;
  text-align: center;
}
.show
{
  background-color: #296889;
  color: white;
  font-size: 15px;
}
td
{
  text-align: center;
}
