<div class="container m-auto bg-secondry">
    <div class="w-100 p-2 logo m-0">
        <img class="img-fluid rounded-start" src="logo.png" alt="">
    </div>

    <form action="" method="" (ngSubmit)="addHoliday()" class="w-50 my-5 d-flex justify-content-between">
        <div class="mb-2 w-50 me-5">
            <label for="name" class="">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name" placeholder="Enter name" required>
          </div>
          <div class="mb-2 w-50">
            <label for="Date" class="">Date</label>
            <input type="date" class="form-control ww-100" [(ngModel)]="holiday_date" name="holiday_date" id="Date" placeholder="Enter Date" required="">
          </div>
          <div class="button w-100 mx-3 mt-3 text-center">
      
              <button type="submit" class="btn w-25">Add</button>
          </div>
    </form>
    






    <!-- show all holidays -->
      <div class="table-responsive">
        <table class="table border w-75  text-center mx-auto">
          <thead class="custom-thead border border-info" >
            <tr >
              <th>Name</th>
              <th >Date</th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody class="table-striped table-hover">
            <tr *ngFor="let holiday of holidays">
              <td class="text-canter">{{ holiday.name }}</td>
              <td>{{ holiday.holiday_date }}</td>
              <td>
                <!-- <a class="me-3" [routerLink]="['/show-attendance', holiday.id]" >
                  <fa-icon [icon]="show" class="text-primary"></fa-icon>
                </a> -->
                <a class="me-3" [routerLink]="['/editholiday', holiday.id]" >
                  <fa-icon [icon]="edit" class="text-warning"></fa-icon>
                </a>
                <fa-icon [icon]="deleteicon" class="text-danger" (click)="deleteHoliday(holiday.id)"></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
            

</div>
