<div class="container m-auto bg-secondry">
    <div class="w-100 p-2">
        <img src="../../../../public/logo.jpg" alt="">
    </div>

    <div class="w-50 m-auto d-flex justify-content-between">
        <div class="mb-2 w-50 me-5">
            <label for="name" class="">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
          </div>
          <div class="mb-2 w-50">
            <label for="Date" class="">Date</label>
            <input type="date" class="form-control ww-100" id="Date" placeholder="Enter Date">
          </div>
    </div>
    <div class="button my-5 m-auto d-flex justify-content-center ">

        <button type="button" class="btn">Add</button>
    </div>
    <div class="table">
        <table class="table" >
            <thead id="thead">
                <tr>
                    <td>Name</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody class="table-striped table-hover">
                <tr>
                    <td>ahmed</td>
                    <td>26-3-2001</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>ahmed</td>
                    <td>26-3-2001</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>ahmed</td>
                    <td>26-3-2001</td>
                    <td>action</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
