body
{
  background-color: #EBEBEB;
}
img
{
  width: 20%;
}
.title
{
  font-size: 2rem;
  text-transform: capitalize;
}
button {
    height: 37px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a6f8b;
    color: white;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}
.table{
  color: #fff;
}
table.custom-thead {
  background-color: #2a6f8b;
  color: white; 
  
}
