.btn-back{
    border: 1px solid #FFF;
    font-size: 18px;
    width: 85px;
    height: 40px; 
  background-color:transparent;
    border-radius: 10px;
    border-color: #28688B;
    color: black;
    transition: all 0.2s ease-in-out;
}
.btn-back:hover{
 
        border: none;

}
form{
    
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #28688B;    
}
h1{
  margin-top: 10px;
  margin-bottom: 100px;
}
.companylogo{
  margin-left: 200px;
  height: 100px;
  width: 200px;
}

button{
 
  font-size: 20px;
  font-weight: 400;
  color: white;
  border-color: white;

}