
  <div class="w-100 main-data pt-3">
    <div class="card-title d-flex justify-content-between align-items-center">
      <div class="logo ms-5">
        <img src="logo.png" class="img-fluid rounded-start">
      </div> <a class="nav-a" [routerLink]="['/attendance-departure']" routerLinkActive="''" >
        <fa-icon [icon]="faLongArrowRight" class=" fs-3 mb-5" [ngStyle]="{'color':'#28688B'}" ></fa-icon></a>
    </div>

    <div class="title text-center pb-3 mt-5 fw-semi-bold">
      Add Attendance
    </div>
    <div class="card mt-5 pb-5" [ngStyle]="{'background-color':'transparent','border':'none'}">
      <div *ngIf="isLoading; else elseForm">
        <app-loader :title="loadingTitle"></app-loader>
      </div>
      <ng-template #elseForm>
        <form action="" method="" class="m-auto rounded p-5" (ngSubmit)="submitAttendance()">
          <div class="mb-3">
            <mat-label for="employee_id" class="form-mat-label mb-0">Employee Name</mat-label>
            <select class="form-control" [(ngModel)]="selectedEmployeeId" name="employee_id" required>
              <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
            </select>
            <span *ngIf="errors.employee_id" class="text-danger">{{errors.employee_id}}</span>
          </div>

          <div class="mb-3">
            <mat-label for="check_in" class="form-mat-label mb-0">Attedance Time</mat-label>
            <input type="time" class="form-control" [(ngModel)]="check_in" id="check_in" name="check_in"
              required>
            <span *ngIf="errors.check_in" class="text-danger">{{errors.check_in}}</span>

          </div>
          <div class="mb-3">
            <mat-label for="check_out" class="form-mat-label mb-0">Departure Time</mat-label>
            <input type="time" class="form-control" [(ngModel)]="check_out" id="check_out" name="check_out" required>
              <span *ngIf="errors.check_out" class="text-danger">{{errors.check_out}}</span>
          </div>

          <div class="mb-3">
            <mat-label for="date" class="form-mat-label mb-0">Attendance Date</mat-label>
            <input type="date" class="form-control" [(ngModel)]="date" id="date"
              name="date" required>
            <span *ngIf="errors.date" class="text-danger">{{errors.date}}</span>
          </div>
      
          
          <button type="submit" class="btn px-5 mx-auto d-block">Add</button>
        </form>
      </ng-template>


    </div>
  </div>
